# Group, name, file
DGEA, DGEA_RNAseq, analysis/DGEA/DGEA_correlation_analysis.Rmd
DGEA, DGEA_RNAseq, analysis/DGEA/DGEA_Geneset_Comparisons.Rmd
DGEA, DGEA_RNAseq, analysis/DGEA/DGEA_template.Rmd
DGEA, DGEA_RNAseq, analysis/DGEA/DGEA_RNAseq_functions.R
DGEA, DGEA_RNAseq, analysis/DGEA/DGEA_constructor.Rmd

DEA_miRNA, DEA_miRNA, analysis/DEA_miRNA/DEA_miRNA_constructor.Rmd
DEA_miRNA, DEA_miRNA, analysis/DEA_miRNA/DEA_miRNA_functions.R
DEA_miRNA, DEA_miRNA, analysis/DEA_miRNA/DEA_miRNA_template.Rmd

ERCC, ERCC_RNAseq, analysis/ERCC/ERCC.Rmd
ERCC, ERCC_RNAseq, analysis/ERCC/thermofisher_LSG_manuals_cms_095046.txt

functional_analyses, GO_analysis, analysis/functional_analyses/GO_analyses.Rmd
functional_analyses, GO_analysis, analysis/functional_analyses/GO_integration.Rmd

functional_analyses, GSEA, analysis/functional_analyses/GSEA.Rmd
functional_analyses, GSEA_hallmarkgenes, analysis/functional_analyses/GSEA_hallmarks.Rmd

functional_analyses, GO_heatmaps, analysis/functional_analyses/GO_heatmaps.Rmd

networks, WGCNA, analysis/networks/WGCNA_on_.Rmd

visualization, heatmaps_selected_genes, analysis/visualization/heatmaps_selected_genes.Rmd

scRNAseq_hashtag, Hashtag_demultiplexing, analysis/scRNAseq_hashtag/HTO_demultiplex.Rmd

// scRNAseq_QC, scRNAseq_QC, analysis/scRNAseq_QC/scRNA_QC_functions.R
// scRNAseq_QC, scRNAseq_QC, analysis/scRNAseq_QC/scRNAseq_QC_constructor.Rmd
// scRNAseq_QC, scRNAseq_QC, analysis/scRNAseq_QC/scRNAseq_QC_template.Rmd
// scRNAseq_QC, scRNAseq_QC, analysis/scRNAseq_QC/scRNAseq_QC_report.rmd

scRNAseq_pipeline, preprocessing, analysis/scRNAseq_pipeline/config.toml
scRNAseq_pipeline, preprocessing, analysis/scRNAseq_pipeline/resources
scRNAseq_pipeline, preprocessing, analysis/scRNAseq_pipeline/preprocessing

scRNAseq_pipeline, annotation, analysis/scRNAseq_pipeline/annotation

scRNAseq_pipeline, cell-cell-communication, analysis/scRNAseq_pipeline/cell-cell-communication