# Group, name, file
DGEA, DGEA_RNAseq, analysis/DGEA/DGEA_config.yml 
DGEA, DGEA_RNAseq, analysis/DGEA/contrasts.csv
DGEA, DGEA_RNAseq, analysis/DGEA/DGEA_correlation_analysis.Rmd
DGEA, DGEA_RNAseq, analysis/DGEA/DGEA_Geneset_Comparisons.Rmd
DGEA, DGEA_RNAseq, analysis/DGEA/DGEA_template.Rmd 
DGEA, DGEA_RNAseq, analysis/DGEA/DGEA_RNAseq_functions.R
DGEA, DGEA_RNAseq, analysis/DGEA/rmd_report_extender.py
DGEA, DGEA_RNAseq, analysis/DGEA/run_DGEA.sh
DGEA, DGEA_RNAseq, analysis/DGEA/DGEA_constructor.Rmd

DGEA, DGEA_miRNAseq, analysis/DGEA/DEA_miRNA_1.Rmd
DGEA, DGEA_miRNAseq, analysis/DGEA/DGEA_miRNAseq_functions.R

ERCC, ERCC_RNAseq, analysis/ERCC/ERCC.Rmd
ERCC, ERCC_RNAseq, analysis/ERCC/thermofisher_LSG_manuals_cms_095046.txt

functional_analyses, GO_analysis, analysis/functional_analyses/GO_analyses.Rmd
functional_analyses, GO_analysis, analysis/functional_analyses/GO_integration.Rmd

functional_analyses, GSEA, analysis/functional_analyses/GSEA.Rmd
functional_analyses, GSEA_hallmarkgenes, analysis/functional_analyses/GSEA_hallmarks.Rmd

functional_analyses, GO_heatmaps, analysis/functional_analyses/GO_heatmaps.Rmd

networks, WGCNA, analysis/networks/WGCNA_on_.Rmd

visualization, heatmaps_selected_genes, analysis/visualization/heatmaps_selected_genes.Rmd

scRNAseq, Hashtag_demultiplexing, analysis/scRNAseq/HTO_demultiplex.Rmd