# source target rename
all;; compressed_tars;

# FASTQ
FASTQ; PROJECT_BCL_PATH;; BCL
FASTQ; PROJECT_DEMULTIPLEX_PATH;; FASTQ

# mRNAseq
mRNAseq;; 1_Raw_data;
mRNAseq;; 2_Processed_data;
mRNAseq;; 3_Reports;
mRNAseq; PROJECT_BCL_PATH; 1_Raw_data; BCL
mRNAseq; PROJECT_FASTQ_PATH; 1_Raw_data; FASTQ
mRNAseq; PROJECT_FASTQ_MULTIQC_PATH; 1_Raw_data; FASTQ_multiQC
mRNAseq; nfcore_RNAseq/results; 2_Processed_data; nfcore_RNAseq_results
mRNAseq; analysis; 3_Reports;

# 3mRNAseq
3mRNAseq;; 1_Raw_data;
3mRNAseq;; 2_Processed_data;
3mRNAseq;; 3_Reports;
3mRNAseq; PROJECT_BCL_PATH; 1_Raw_data; BCL
3mRNAseq; PROJECT_FASTQ_PATH; 1_Raw_data; FASTQ
3mRNAseq; PROJECT_FASTQ_MULTIQC_PATH; 1_Raw_data; FASTQ_multiQC
3mRNAseq; nfcore_3mRNAseq; 2_Processed_data;
3mRNAseq; analysis; 3_Reports;

# scRNAseq
scRNAseq;; 1_Raw_data;
scRNAseq;; 2_Processed_data;
scRNAseq;; 3_Reports;
scRNAseq; PROJECT_BCL_PATH; 1_Raw_data; BCL
scRNAseq; PROJECT_FASTQ_PATH; 1_Raw_data; FASTQ
scRNAseq; PROJECT_FASTQ_MULTIQC_PATH; 1_Raw_data; FASTQ_multiQC
scRNAseq; nfcore_scRNAseq; 2_Processed_data;
scRNAseq; analysis; 3_Reports;

# ChIPseq
ChIPseq;; 1_Raw_data;
ChIPseq;; 2_Processed_data;
ChIPseq;; 3_Reports;
ChIPseq; PROJECT_BCL_PATH; 1_Raw_data; BCL
ChIPseq; PROJECT_FASTQ_PATH; 1_Raw_data; FASTQ
ChIPseq; PROJECT_FASTQ_MULTIQC_PATH; 1_Raw_data; FASTQ_multiQC
ChIPseq; nfcore_ChIPseq; 2_Processed_data;
ChIPseq; analysis; 3_Reports;