# source target rename
all;; compressed_tar;

# FASTQ
FASTQ; PROJECT_BCL_PATH;; BCL
FASTQ; PROJECT_DEMULTIPLEX_PATH;; FASTQ

# mRNAseq
mRNAseq;; 1_Raw_data;
mRNAseq;; 2_Processed_data;
mRNAseq;; 3_Reports;
mRNAseq; PROJECT_BCL_PATH; 1_Raw_data; BCL
mRNAseq; PROJECT_FASTQ_PATH; 1_Raw_data; FASTQ
mRNAseq; PROJECT_FASTQ_MULTIQC_PATH; 1_Raw_data; FASTQ_multiQC
mRNAseq; nfcore_RNAseq; 2_Processed_data;
mRNAseq; analysis; 3_Reports;
mRNAseq; nfcore_RNAseq/results/multiqc/star_salmon; 3_Reports;

# 3mRNAseq
3mRNAseq;; 1_Raw_data;
3mRNAseq;; 2_Processed_data;
3mRNAseq;; 3_Reports;
3mRNAseq; PROJECT_BCL_PATH; 1_Raw_data; BCL
3mRNAseq; PROJECT_FASTQ_PATH; 1_Raw_data; FASTQ
3mRNAseq; PROJECT_FASTQ_MULTIQC_PATH; 1_Raw_data; FASTQ_multiQC
3mRNAseq; nfcore_3mRNAseq; 2_Processed_data;
3mRNAseq; analysis; 3_Reports;
3mRNAseq; nfcore_3mRNAseq/results/multiqc/star_salmon; 3_Reports; multiqc

# scRNAseq
scRNAseq;; 1_Raw_data;
scRNAseq;; 2_Processed_data;
scRNAseq;; 3_Reports;
scRNAseq; PROJECT_BCL_PATH; 1_Raw_data; BCL
scRNAseq; PROJECT_FASTQ_PATH; 1_Raw_data; FASTQ
scRNAseq; PROJECT_FASTQ_MULTIQC_PATH; 1_Raw_data; FASTQ_multiQC
scRNAseq; nfcore_scRNAseq; 2_Processed_data;
scRNAseq; analysis; 3_Reports;
scRNAseq; nfcore_scRNAseq/results/multiqc; 3_Reports;

# ChIPseq
ChIPseq;; 1_Raw_data;
ChIPseq;; 2_Processed_data;
ChIPseq;; 3_Reports;
ChIPseq; PROJECT_BCL_PATH; 1_Raw_data; BCL
ChIPseq; PROJECT_FASTQ_PATH; 1_Raw_data; FASTQ
ChIPseq; PROJECT_FASTQ_MULTIQC_PATH; 1_Raw_data; FASTQ_multiQC
ChIPseq; nfcore_ChIPseq; 2_Processed_data;
ChIPseq; analysis; 3_Reports;
ChIPseq; nfcore_ChIPseq/results/multiqc/broadPeak; 3_Reports; multiQC

# scATACseq
scATACseq;; 1_Raw_data;
scATACseq;; 2_Processed_data;
scATACseq;; 3_Reports;
scATACseq; PROJECT_BCL_PATH; 1_Raw_data; BCL
scATACseq; PROJECT_FASTQ_PATH; 1_Raw_data; FASTQ
scATACseq; PROJECT_FASTQ_MULTIQC_PATH; 1_Raw_data; FASTQ_multiQC
scATACseq; cellranger_scATACseq; 2_Processed_data;
scATACseq; analysis; 3_Reports;

# MethylSeq
MethylSeq;; 1_Raw_data;
MethylSeq;; 2_Processed_data;
MethylSeq;; 3_Reports;
MethylSeq; PROJECT_BCL_PATH; 1_Raw_data; BCL
MethylSeq; PROJECT_DEMULTIPLEX_PATH; 1_Raw_data; FASTQ
MethylSeq; nfcore_methylseq; 2_Processed_data;
MethylSeq; analysis; 3_Reports;