# source target rename
all;; 1_Raw_data;
all;; 2_Processed_data;
all;; 3_Reports;
all;; compressed_tars;

# FASTQ
FASTQ; PROJECT_BCL_PATH;; BCL
FASTQ; PROJECT_FASTQ_PATH;; FASTQ

# mRNAseq
mRNAseq; PROJECT_BCL_PATH; 1_Raw_data; BCL
mRNAseq; PROJECT_FASTQ_PATH; 1_Raw_data; FASTQ
mRNAseq; PROJECT_FASTQ_MULTIQC_PATH; 1_Raw_data; FASTQ_multiQC
mRNAseq; nfcore_RNAseq/results; 2_Processed_data; nfcore_RNAseq_results
mRNAseq; analysis; 3_Reports;