params {
  config_profile_description = 'RWTH Aachen Uniklinik IZKF Genomics profile'
  config_profile_contact = 'Joseph Chao-Chung Kuo (ckuo@ukaachen.de)'
}

params {
  max_time = 2.d
  max_cpus = N_CORES
  max_memory = 400.GB
  igenomes_base = '/data/igenomes/'
  seq_center = 'IZKF Genomics Facility'
}

params {
  genomes {
    'GENCODE_GRCh38_v46' {
      fasta  = '/data/genomes/GRCh38/GRCh38.primary_assembly.genome.fa'
      gtf = '/data/genomes/GRCh38/gencode.v46.basic.annotation.gtf'
      transcript_fasta = '/data/genomes/GRCh38/gencode.v46.transcripts.fa'
      star = '/data/genomes/GRCh38/STAR_index'
      gencode = true
    }
    'GENCODE_GRCh38_v46_ERCC' {
      fasta  = '/data/genomes/GRCh38/GENCODE_GRCh38_v46_ERCC.fasta'
      gtf = '/data/genomes/GRCh38/GENCODE_GRCh38_v46_ERCC.gtf'
      transcript_fasta = '/data/genomes/GRCh38/GENCODE_GRCh38_v46_ERCC_transcripts.fasta'
      star = '/data/genomes/GRCh38/STAR_index_ERCC'
      gencode = true
    }
    'GENCODE_GRCm39_v35' {
      fasta  = '/data/genomes/GRCm39/GRCm39.primary_assembly.genome.fa'
      gtf = '/data/genomes/GRCm39/gencode.vM35.basic.annotation.gtf'
      transcript_fasta = '/data/genomes/GRCm39/gencode.vM35.transcripts.fa'
      star = '/data/genomes/GRCm39/STAR_index'
      gencode = true
    }
    'GENCODE_GRCm39_v35_ERCC' {
      fasta  = '/data/genomes/GRCm39/GENCODE_GRCm39_v35_ERCC.fasta'
      gtf = '/data/genomes/GRCm39/GENCODE_GRCm39_v35_ERCC.gtf'
      transcript_fasta = '/data/genomes/GRCm39/GENCODE_GRCm39_v35_ERCC_transcripts.fasta'
      star = '/data/genomes/GRCm39/STAR_index_ERCC'
      gencode = true
    }
    'GENCODE_GRCm38_v25' {
      fasta  = '/data/genomes/GRCm38/GRCm38.p6.genome.fa'
      gtf = '/data/genomes/GRCm38/gencode.vM25.annotation.gtf'
      transcript_fasta = '/data/genomes/GRCm38/gencode.vM25.transcripts.fa'
      star = '/data/genomes/GRCm38/STAR_index'
      salmon = '/data/genomes/GRCm38/salmon_index'
      gencode = true
    }
    'GENCODE_GRCm38_v25_ERCC' {
      fasta  = '/data/genomes/GRCm38/GENCODE_GRCm38_v25_ERCC.fasta'
      gtf = '/data/genomes/GRCm38/GENCODE_GRCm38_v25_ERCC.gtf'
      transcript_fasta = '/data/genomes/GRCm38/GENCODE_GRCm38_v25_ERCC_transcripts.fasta'
      star = '/data/genomes/GRCm38/STAR_index_ERCC'
      salmon = '/data/genomes/GRCm38/salmon_index_ERCC'
      gencode = true
    }
    'ensembl_mRatBN7' {
      fasta  = '/data/genomes/mRatBN7/Rattus_norvegicus.mRatBN7.2.dna.toplevel.fa.gz'
      gtf = '/data/genomes/mRatBN7/Rattus_norvegicus.mRatBN7.2.109.chr.gtf'
    }
  
}
}

cleanup = true